extends layout

block content
  .contents
    .column1
      img.logo(src='svg/wml-logo.svg')
      .bottom
        h3= 'Us'
        .our
          span
            a(href='mailto:together@wemakelovely.com')
              img.our-email(src='svg/icon-l-mail.svg')
          span
            a(href='https://twitter.com/wemakelovely')
              img.our-twitter(src='svg/icon-l-twitter.svg')
    .column2
      h1= 'We make lovely.'
      h2
        span.red= 'Design'
        = ' & '
        span.green= 'Devolpment'
      .bottom
        h3
          span.red='Her'
          = ' & '
          span.green='Him'
        .her
          span
            a(href='http://dribbble.com/mars.toyship')
              img.her-dribbble(src='svg/icon-m-dribbble.svg')
          span
            a(href='http://www.linkedin.com/pub/marissa-epstein/58/5a5/791')
              img.her-linkedin(src='svg/icon-m-linkedin.svg')
          span
            a(href='http://marissaepstein.com')
              img.her-personal(src='svg/icon-m-personal.svg')
        .his
          span
            a(href='https://github.com/wkf')
              img.his-github(src='svg/icon-w-github.svg')
          span
            a(href='http://www.linkedin.com/pub/william-farrell/b/9a8/301')
              img.his-linkedin(src='svg/icon-w-linkedin.svg')
          span
            a(href='https://twitter.com/wkf')
              img.his-personal(src='svg/icon-w-personal.svg')
